:root {
    --card: #272524
}

.card {
    display: flex;
    align-items: center;
    width: 75vw;
    max-width: 650px;
    padding: 44px 30px 44px 20px;
    background: var(--card);
    border-radius: 24px;
}

.card img{
    max-width: 280px;
    width: 36vw;
    height: 300px;
    object-fit: cover;
    margin-left: -60px;
    margin-right: 30px;
    border-radius: inherit;
    box-shadow: 0 60px 40px rgb(0 0 0 / 8%);
    transition: border-radius 0.3s;
}