* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page.card-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg, #ff7c7d, #ffda67);
  color: #fdfcfd;
  font-family: "Euclid Circular A", "Poppins";
}
