* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000a1f;
}

.container {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: aliceblue; */
    width: 70%;
    min-height: 445px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.card {
    height: 100%;
    /* flex: 1; */
    width: 20%;
    overflow: hidden;
    transition: flex 0.5s ease-in-out;
}

.card img{
    border-radius: 10px;
    border: 2px solid grey;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container .card:hover {
    width: 25%;
}

