html {
    font-family: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    border: 1px solid red;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
}

nav {
    border: 1px solid red;
    padding: 32px 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0 0 0 / 2%);
    backdrop-filter: blur(20px);
}

nav img {
    height: 44px;
}

nav .buttons button {
    gap: 14px;
    color: #fff;
    border: none;
}