* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group {
    position: relative;
}

.input-group input {
    width: 300px;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #777;
    font-size: 16px;
    pointer-events: none;
    transition: 0.3s;
    background-color: white;
    padding: 0 5px;
}

.input-group input:focus+label, .input-group input:valid+label {
    top: -1px;
    font-size: 14px;
}